* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(to right, #1d2b64, #f8cdda);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.todo-box {
  background-color: white;
  padding: 40px 30px 70px;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 100px auto 20px;
}

.todo-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
}
.input-section input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  background-color: #f0f0f0;
  font-size: 16px;
}

.input-section button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.input-section button:hover {
  background-color: #d32f2f;
}
.task{
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  margin-left: 10px;
}
.task ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before{
      content: '';
      position: absolute;
      left: 8px;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-image: url(unchecked.png);
} 
ul li.checked{
  text-decoration: line-through;
  color: #555;
}
ul li.checked::before{
  background-image: url(checked.png);
}
ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}
ul li span:hover{
  background: #edeef0;
}